<h1>Thanks for your enquiry!</h1>

<p>You entered the following details:</p>
<p>
    <dt>Name</dt>
    <dd><%= @enquiry.name %></dd>
</p>
<p>
    <dt>Email</dt>
    <dd><%= @enquiry.email %></dd>
</p>
<p>
    <dt>Phone</dt>
    <dd><%= @enquiry.phone %></dd>
</p>
<p>
    <dt>Message</dt>
    <dd><%= @enquiry.message %></dd>
</p>